<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iot20-fa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b993591d-6cfd-49df-a052-37933498fdb2/resourceGroups/IOT20/providers/Microsoft.Web/sites/iot20-fa</ResourceId>
    <UserName>$iot20-fa</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://iot20-fa.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>